<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Flip Flop</title>
	<link rel="stylesheet" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
	<link rel="stylesheet" href="static/css/Newsletter-Subscription-Form.css">
	<link rel="stylesheet" href="static/css/styles.css">
	<link rel="icon" type="image/png" href="static/favicon.png" />
</head>

<body style="background: linear-gradient(90deg, #f2e9e4, #c9e4de 33%, #c6def1 66%, #dbcdf0);">
	<div class="newsletter-subscribe" style="background: transparent;">
		<div class="container">
			<div class="intro">
				<h2 class="text-center" style="font-family: Lobster, cursive;font-size: 81px;">flip flop</h2>
				<p class="text-center">Thanks for registering for the Flip Flop pre-release testing!<br>You will soon be emailed an exclusive link to the Google Play Store where you can download our app and start connecting right away!</p>
			</div>
    </div>
  </div>
  </body>
  <footer><span>Flip Flop 2021</span></footer>


</html>